#panel {
  background-color: rgba(17, 17, 27, 0.85);
  border: 2px solid #b4befe;
  margin: 4px;
  border-radius: 30px;
  color: #cdd6f4;
}

#panel * {
  color: #cdd6f4;
}

#dashtodockContainer {
  background-color: transparent;
  border-radius: 5px;
}

#dashtodockContainer.bottom #dash {
  margin-bottom: 3px;
}

.dash-background {
  background-color: rgba(17, 17, 27, 0.85);
  border-radius: 20px;
  padding: 8px 5px;
  border: 2px solid #b4befe;
}

.dash-label {
  color: #cdd6f4;
}

.overview-icon:hover {
  background-color: red;
}

.app-grid-running-dot {
  background-color: #b4befe;
}

.user-icon {
  border: 2px solid red;
}

.quick-settings {
  border: 2px solid #b4befe;
  background-color: #11111b;
}

.quick-toggle {
  background-color: #181825;
  color: #ffffff;
}

.quick-toggle:checked {
  background-color: #b4befe;
  color: #11111b;
}

.quick-menu-toggle .quick-toggle-arrow {
  background-color: #11111b;
}

.quick-menu-toggle .quick-toggle-arrow:checked {
  background-color: #b4befe;
}

.quick-setting-system-item {
  background: red;
}

#dashtodockContainer .show-apps .overview-icon,
#dashtodockContainer .app-well-app .overview-icon {
  border: 1px solid transparent;
  color: #b4befe;
  border-radius: 10px;
}

#dashtodockContainer .show-apps:hover .overview-icon,
#dashtodockContainer .show-apps:focus .overview-icon,
#dashtodockContainer .show-apps:selected .overview-icon,
#dashtodockContainer .app-well-app:hover .overview-icon,
#dashtodockContainer .app-well-app:focus .overview-icon,
#dashtodockContainer .app-well-app:selected .overview-icon {
  background-color: rgba(49, 50, 68, 0.85);
  borrder-top: 1px solid rgba(49, 50, 68, 1);
  border-radius: 10px;
}
