@import "mocha.css";

* {
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 12px;
}

/* ------ Set a Uniform Border Radius ------ */
.modules-left, .modules-center, .modules-right, #cpu, #memory, #temperature, #pulseaudio, #backlight, #custom-spotify, #custom-icon, #custom-updates, #network, #battery, #tray, #idle_inhibitor, #custom-power, #custom-notification {
  border-radius: 10px;
}

.modules-left, .modules-center, .modules-right {
  border: 2px solid @lavender; 
}

/* ------ Modules Left ------ */
.modules-left {
  background-color: @base;
  margin: 5px;
  margin-bottom: 0;
  padding-right: 5px;
  padding-left: 13px;
}

/* ------ Modules Center ------ */
.modules-center {
  background-color: @base;
  margin: 5px;
  margin-bottom: 0;
  padding: 5px;
}

/* ------ Modules Right ------ */
.modules-right {
  background-color: @base;
  margin: 5px;
  margin-bottom: 0;
  padding: 5px;
}

/* ------ Cpu Usage, Temperature, and Memory ------ */
#cpu, #temperature, #memory, #pulseaudio, #network, #custom-power, #tray {
  background-color: @surface0;
  border-radius: 5px;
  padding: 0px 12px;
  margin: 0;
  border: 1px solid @surface1;
}

#tray {
  border: none;
}

#cpu { 
  color: @yellow;
  /* border: 1px solid @yellow; */
}
#network {
  /* border: 1px solid @sapphire; */
}
#pulseaudio {
  /* border: 1px solid @pink; */
}

#cava.left, #cava.right {
  margin: 0 5px;
}

#memory { 
  color: @yellow;
  /* border: 1px solid @yellow */
}
#temperature { 
  color: @maroon;
}
#custom-power, #tray {
  padding-left: 9px;
  padding-right: 9px;
}

/* ------ Window Title ------ */
#window { 
    color: @text; 
    padding-right: 4px;
    font-weight: bold;
}

window#waybar {
    /* background-color: rgba(0, 0, 0, 0); */
    /* border-bottom: 0px solid #ffffff; */
    /* color: #FFFFFF; */
    background: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces button.empty {
    color: @surface2;
}

#workspaces {
    margin: 0px 1px 0px 1px;
    padding: 0px 1px;
}

#workspaces button {
    padding: 0px 2px;
    margin: 4px 2px;
    color: @yellow;
}

#workspaces button:hover {
    opacity:0.5;
}

/* ------ Pulseaudio ------ */
#pulseaudio {
  color: @pink;
}

/* ------ Backlight ------ */
#backlight {
  color: @sky;
  background-color: @surface1;
  padding: 2px 5px;
  margin: 4px 2px;
}

/* ------ Network ------ */
#network {
  color: @sapphire;
}

/* ------ Battery ------ */
#battery {
  color: @maroon;
  background-color: @surface1;
  margin: 4px 2px;
}

/* ------ Clock ------ */
#clock {
  padding-left: 10px;
  color: @text;
  font-weight: bold;
  font-size: 13px;
}

/* ------ System Tray ------ */
#tray {
  background-color: transparent;
  margin: 4px 2px;
}

/* ------ Custom Modules ------ */
#custom-icon {
  font-size: 18px;
  color: @blue;
  padding-right: 5px;
}

#custom-hello-world {
  color: @text;
  padding-left: 10px;
  font-family: "Overpass";
  font-weight: bold;
}

#custom-separator-arrow {
  font-size: 14px;
  color: @text;
}

#custom-separator-dot, #custom-separator-star {
  font-size: 15px;
  color: @text;
}

#custom-spotify {
  color: @mauve;
  /* background-color: @surface0; */
  padding: 0 5px;
  border-radius: 5px;
  /* border: 1px solid @surface1; */
}

#custom-power {
  color: @red;
  font-size: 15px;
}

#idle_inhibitor {
  color: @green;
  background-color: @surface1;
  margin: 4px 2px;
  font-size: 15px;
}

#custom-updates {
  padding: 2px 7px;
  margin: 4px 2px;
  background-color: @surface1;  
}
#custom-updates.green {
  color: @text;
}
#custom-updates.yellow {
  color: @peach;
}
#custom-updates.red {
  color: @red;
}

#custom-notification {
  color: @teal;
  background-color: @surface1;
  padding: 2px 9px;
  margin: 4px 2px;
  font-size: 15px;
}

tooltip {
    background: @base;
    border: 1px solid @blue;
}
