/*

██╗    ██╗ ██████╗ ███████╗██╗
██║    ██║██╔═══██╗██╔════╝██║
██║ █╗ ██║██║   ██║█████╗  ██║
██║███╗██║██║   ██║██╔══╝  ██║
╚███╔███╔╝╚██████╔╝██║     ██║
 ╚══╝╚══╝  ╚═════╝ ╚═╝     ╚═╝

Wofi config by Charlie Lidstone

*/

@import "mocha.css";

* {
  border: none;
  outline: none;
}

window {
    padding: 50px;
    background-color: #181825;
    font-family: 'FiraCode Nerd Font', sans-serif;
    font-size: 15px;
}

#input {
    margin: 20px 15px;
    padding: 10px 20px;
    background-color: #11111b;
    border: none;
    color: #cdd6f4;
    border-radius: 10px;
}

#input:focus {
    box-shadow: none;
}

#inner-box {
    margin: 0 15px;
}

#img {
    margin: 10px;
}

#entry:selected {
    background-color: #11111b;
    border-radius: 10px;
}

#text {
    color: #cdd6f4;
}

#text:selected {
    color: #cdd6f4;
}
